language: node_js
node_js:
  - "node"
  - "6"
script:
  - yarn run coverage
  - yarn run lint
after_success:
  - yarn run coveralls

# Allow the sleep module to build
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
